/* body.bg-light-on {
    background: radial-gradient();
} */
div {
    /* outline: dotted red; */
}
.page-wrapper {
    flex: 1 0 auto;
    background-color: black;
}
.main-bg-scene-wrapper {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}

.bg-light-anim {
    /* border: 2px solid green; */
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 11;
    /* background-image: url("../public/images/light-on-with-bulb-2.png");
    background-size: cover; */
}
.bg-light-flyer {
    filter: blur(24px);
    -webkit-filter: blur(24px);
    -moz-filter: blur(24px);
    -o-filter: blur(24px);
    -ms-filter: blur(24px);
}
.bulb-spark{
    filter: blur(14px);
    -webkit-filter: blur(14px);
    -moz-filter: blur(14px);
    -o-filter: blur(14px);
    -ms-filter: blur(14px);
}

.light-animation-svg.bulb-active .bg-light-flyer,
.light-animation-svg.bulb-active .bulb-spark {
    display: block !important;
}

.bg-light-on .system-wrapper {
    clip-path: none
}
.bg-light-on .main-bg-scene-wrapper{
    background-image: url("../public/images/bg-gost.png");
    background-size: cover;
    background-position: bottom;
}
.bg-light-on .social-icon-container {
    opacity: 1;
}

.bg-light-on .lead-heading,
.bg-light-on .workspace-container .drawer {
    opacity: 1;
    visibility: visible;
}


.header {
    padding: 10px 4%;
}
.navbar {
    justify-content: end;
}

.social-icon-container {
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 12;
}

.social-icon-wrapper {
    width: 35%;
}
.social-icon-wrapper:first-child {
    margin-right: 30px;
}
.social-icon-wrapper .social-btn:first-child {
    display: block;
}
.social-icon-wrapper .social-btn:last-child {
    display: none;
}
.social-icon-wrapper:hover .social-btn:first-child {
    display: none;
}
.social-icon-wrapper:hover .social-btn:last-child {
    display: block;
}
.social-btn img {
    width: 100%;
}

.heading-container {
    position: relative;
    top: -65px;
}
.mint-btn-wrapper {
    position: relative;
    width: 377px;
    top: -260px;
    margin-left: 145px;
    z-index: 20;
    width: 35%;
}
.mint-btn,
.bg-bulb-string {
    cursor: pointer;
}
.main-heading {
    width: 100%;
    height: 100%;
}
.lead-heading {
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}
.workspace-container {
    margin-top: -440px;
    position: relative;
    left: 80px;
    z-index: 12;
    /* opacity: 0;
    visibility: hidden; */
}
.workspace-container .drawer{
    opacity: 0;
    visibility: hidden;
}
.system-wrapper {
    width: 100%;
    height: 81%;
    display: flex;
    justify-content: end;
    z-index: 5;
    clip-path: ellipse(20% 32% at 74% 19%);
}


.switch-btn {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 3;
    left: calc(60% - 20px);
    top: calc(30% - 119px);
}

.box-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .social-icon-wrapper {
        margin-left: 15px;
    }
    .social-icon-wrapper .social-btn {
        width: 62px;
        height: 62px;
    }

    .heading-container {
        top: 70px;
    }
    .main-heading {
        width: 100%;
        transform: scale(1.12);
    }
    .header {
        padding: 0;
    }
    .navbar {
        justify-content: start;
    }
    .mint-btn {
        left: 0;
        height: 75px;
        bottom: 100px;
    }

    .system-wrapper {
        transform: translate(-37%, 95%);
        width: 110%;
        top: 19%;
    }
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1024px) and (max-width: 1440px) {
    .system-wrapper {
        height: 49%;
    }
    .heading-container {
        top: -100px;
    }
    .main-heading {
        width: 80%;
    }
    .mint-btn-wrapper {
        top: -170px;
        margin-left: 160px;
        width: 26%;
    }
    .workspace-container {
        left: -106px;
        margin-top: -317px;
    }
    .box-container {
        width: 57%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1440.1px) {
    .system-wrapper img {
        /* width: 100%; */
    }
    .box-container {
        width: 61%;
    }
    .lead-heading {
        margin-top: -75px;
    }

    .heading-container {
        top: 0px;
    }
    .main-heading {
        width: 89%;
    }
    .workspace-container {
        margin-top: -300px;
        left: 40px;
    }
    .mint-btn-wrapper {
        top: -225px;
        width: 28%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
